<ng-container>
    <div class="modal-header">
        <h4 class="modal-title">Reset Password</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">x</span>
        </button>
    </div>
    <form *ngIf="userData" [formGroup]="myForm" (ngSubmit)="resetpassword()">
        <div class ="modal-body">
            <div class="container">
                <div class="input-group">
                    <label for="pass">Password:</label>
                    <input  style="margin-left: 113px;" type="password" class="form-control" formControlName="pass"  [ngClass]="{ 'is-invalid': submitted && f.pass.errors }">
                    <div style="margin-left: 184px;" *ngIf="submitted && f.pass.errors" class="invalid-feedback">
                        <div *ngIf="f.pass.errors.required">Password is required</div>
                    </div> 
                </div>
                <div class="input-group">
                    <label for="confirmpass">Confirm Password:</label>
                    <input style="margin-left: 54px; margin-bottom: 10px;" type="password" class="form-control"  formControlName="confirmpass" [ngClass]="{ 'is-invalid': submitted && f.confirmpass.errors }">
                    <div style="margin-left: 184px;" *ngIf="submitted && f.confirmpass.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmpass.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirmpass.errors.mustMatch">Passwords must match</div>
                    </div> 
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
            </div>
        </div>
    </form>
</ng-container>