<nav-bar></nav-bar>
<div style="margin-top: 1%;">
    <div class="row" style="margin-bottom: 3%;">
        <div class="col-md-4">
            <app-total-counts-chart></app-total-counts-chart>
        </div>
        <div class="col-md-4">
            <app-donation-chart></app-donation-chart>
        </div>
        <div class="col-md-4">
            <app-hold-time-chart></app-hold-time-chart>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 ">
            <app-twin-bed-chart></app-twin-bed-chart>
        </div>
        <div class="col-md-4">
            <app-full-bed-chart></app-full-bed-chart>
        </div>
        <div class="col-md-4">
            <app-queen-bed-chart></app-queen-bed-chart>
        </div>
    </div>
</div>