
#donatorEmail{
    margin-left: 46px;
    margin-bottom: 10px;
}

#donatorTown{
    margin-left: 48px;
    margin-bottom: 10px;
}

#donatorName{
    margin-left: 44px;
    margin-bottom: 10px;
}

#donatorPhone{
    margin-left: 41px;
    margin-bottom: 10px;
}



input{
    margin-bottom: 20px;
    height: 46px;
    width: 300px;
}

label{
    margin-top: 10px;
}

select{
    height: 46px;
    width: 100;
}
